/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

img{
    width: 30%;
    aspect-ratio:1;
}

#password-display{
    color:lightcoral ;
    background-color: lightcoral;
    display: inline-block;
    padding:1rem;

}

#password-display::selection{
    color:aqua ;
    background-color: lightcoral;
}



